* {
  font-family: 'Roboto', sans-serif;
}
.product-name{
  font-size: 1.5rem;
}
.d-block{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-item{
  height: 50vh;
}
span{
  font-size: 1.3rem;
}
.price-text{
  font-size: 1rem;
}
.product-price{
  font-size: 1.375rem;
  color: red;
  font-weight: 700;
}
.buy-now{
  border-radius: 5px;
  font-size: 1.75rem;
  font-weight: 700;
  padding: 3px 30px 7px 30px;
  text-align: center;
  text-decoration: none;
}
.product-detail h2{
  color: blue;
}
.product-detail p{
  color: #333;
  font-size: 0.9375rem;
  line-height: 1.42857143;
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto Slab', serif;
}

p, a,li,span {
    font-family: 'IBM Plex Serif', serif;
}
#floatingTextarea1{
  min-height: 10em !important;
  resize: none !important;
}
.rounded-form{
  border-radius: 1em !important;
}
.btn-submit{
  border-radius: 1em !important;
  background-color: #00abc5 !important;
  border-color: #00abc5 !important;
}

.navbar-container{
    margin-left: 10%;
    width: 80%;
}
.navbar-nav .nav-item>* {
    color: black !important;
    font-family: 'Roboto', sans-serif;
    transition: all 400ms;
    border-radius: 15px;
    font-size: 16px;
}

.navbar-nav .nav-item {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.nav-item.main>*:hover {
    background: #737373;
}
.cart-btn {
    text-decoration: none;
    color: black;
}
.cart-btn:hover {
    text-decoration: none;
    color: black;
}
.cart-icon-wrapper {
    position: relative;
}
.cart-icon-wrapper button,.user-icon-wrapper button {
    border: transparent;
    height: 40px;
    width: 40px;
}
.number-item-cart {
    position: absolute;
    right: -10px;
    top: -3px;
    font-size: 0.6rem !important;
}

.user-btn {
    text-decoration: none;
    color: black;
}

.user-btn:hover {
    text-decoration: none;
    color: black;
}
.custom-toggler.navbar-toggler {
    background-color: rgb(255, 255, 255) !important;
}
.navbar-nav .nav-item .nav-link.category-btn {
    padding-left: 1rem;
    text-align: start !important;
}
.nav-item.main>*:hover {
    background: #737373;
}
.pop-up-items {
    transition: opacity 500ms;
    opacity: 0;
}
.nav-footer-theme {
    background-color: #333333!important;
}
@media only screen and (max-width: 992px) {
  .nav-item.main {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  li.nav-item.main.dropdown.category.col-md-2 {
    padding-left: 0 !important;
  }
  .navbar-nav .nav-item .nav-link.category-btn {
    padding-left: 0 !important;
  }
  .pop-up-items {
    display: none !important;
  }
  .nav-item.main .nav-link {
    text-align: start !important;
  }
}
